/*LightDarkMode*/
.light {
  background-color: #ebebe3;
  color: #212529;
}

body {
  transition: all .3s ease-in;
  background-color: #212529;
  color: #ebebe3;
  font-family: "Alice", serif;
}
/*Content*/

h1 {
  color: #c19898;
  margin-left: 5%;
  font-size: 350%;
  font-weight: 300;
   
  font-family: "Sacramento", cursive;
   font-style: italic;
}

#history{
    margin-left: 17%;
     font-style: italic;

}

.history_beginning{
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}

.history_italic{
 
  font-family: "Sacramento", cursive; 
  font-style: italic;
    font-size: 25px;
    line-height: 1;

}

#places{
  text-align: center;
}

.places_cards{
  margin: 0 5%;
}

.card{
  background-color: transparent;
}

.card-title{
  font-family: "Sacramento", cursive; 
  font-style: italic;
  font-size: 25px;
   color: #c19898;
   text-align: center;
}

.card-text{
  text-align: center;
  font-size: 15px;
}

p {
  padding: 0 15px;
  line-height: 1.5;
  text-align: justify;
}

/*Navbar*/
.navigation {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

:target {
  scroll-margin-top: 76px;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 220%;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 500;
}

.list a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #5d5d5d;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.list a:hover::after {
  transform: scale(1);
}

#light_icon {
  font-size: 20px;
  cursor: pointer;
  color: #c7c6c4;
  
}

#dark_icon {
  display: none;
}

/*Carousel*/

img {
  max-width: 100%;
  height: auto;
}

.pictures-carousel {
  padding: 0;
}

.pictures-carousel .carousel-item {
  max-height: 600px;
}

.pictures-carousel .carousel-item img {
  object-fit: cover;
}

/*Footer*/
.footer {
  background-color: #141619;
  color: #ebebe3;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #c19898;
  border-bottom: 1px solid #c19898;
  padding-bottom: 3px;
}

.footer a {
  text-decoration: none;
  color: #ebebe3;
  transition: all 0.3s;
}
.footer li {
  color: #ebebe3;
}

.footer a:hover {
  color: #c19898;
}
.know_more,
.contacts,
.social_media {
  padding: 10px;
}

div .know_more {
  text-align: center;
}

.know_more li {
  display: inline;
  margin: 5px;
}

.footer_icons {
  text-align: center;
}

.footer_icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

.source_link {
  text-align: center;
  padding: 0 0 10px 0;
}

.coder_name {
  color: #c19898;
}
